################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/#Folder Pertemuan 11/Aplikasi Pengolahan Citra/Aplikasi Pengolahan Citra/Aplikasi Pengolahan Citra.vbproj
/#Folder Pertemuan 11/Aplikasi Pengolahan Citra/Aplikasi Pengolahan Citra/Aplikasi Pengolahan Citra.vbproj
